<html>
    <head>
        <title>Option Pricing</title>
        <style>
            h1{
                background-color: red;
                color: white;
                padding: 20px;
                font-size: 50px;
                text-align:center;
                border:6px solid black;
            }
        </style>
    </head>
    <body>
        <h1>European Option Price Calculator</h1>
        <a href ="n_step/">1. N Step Binomial Tree</a><br>
        <a href ="n_step_with_volatility/">2. N Step Binomial Tree Given Volatility</a><br>
        <a href ="2_step/">3. 2 Step Binomial Tree</a><br>
        <a href = "2_step_with_volatility/">4. 2 Step Binomial Tree Given Volatility</a><br>
        <a href ="bs_value/">5. Black Scholes Model</a><br>
    </body>   
</html>